<div class="text-center">
  USERS

  <ul>
      {{#each users as |user| }}
        <li>
            {{name}} => isEnabled => {{isEnabled}} => isAdmin => {{isAdmin}}
        </li>
      {{/each}}
  </ul>
</div>
