<div class="">
    USERS


    <ol class="list-group list-group-numbered">
        {{#each users as |user| }}
        <li class="list-group-item d-flex justify-content-between align-items-start ">
            {{#if isEnabled}}
            <span>
                <div class="ms-2 me-auto list-group-item-success">
                    <h3> {{name}} {{#if isAdmin}} ★ {{/if}} </h3>
                </div>
                <button type="button" class="btn btn-danger">Disable</button>
            </span>
            {{else}}
            <span>
                <div class="ms-2 me-auto list-group-item-danger">
                    <h3> {{name}} {{#if isAdmin}} ★ {{/if}} </h3>
                </div>
                <button type="button" class="btn btn-success">Enable</button>
            </span>
            {{/if}}
        </li>
        {{/each}}
    </ol>
</div>