<div>
    USERS 
    <span class="list-group-item-success">Enabled</span> 
    <span class="list-group-item-danger">Disabled</span>
    <span>★Admin★</span>

    <ol class="list-group list-group-numbered">
        {{#each users as |user| }}
            <span>
            {{#if isEnabled}}
             <li class="list-group-item d-flex justify-content-between list-group-item-success">
                    <h3 class="mt-3"> {{name}} {{#if isAdmin}} ★ {{/if}} 
                        <button type="button" class="btn btn-danger pull-right" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from DB">Delete</button>
                        <button type="button" class="btn btn-secondary pull-right" data-bs-toggle="tooltip" data-bs-placement="top" title="Revoke Public Access">Disable</button>
                    </h3>
            </li>
            {{else}}
            <li class="list-group-item d-flex justify-content-between list-group-item-danger">
                    <h3 class="mt-3"> {{name}} {{#if isAdmin}} ★ {{/if}} 
                        <button type="button" class="btn btn-danger pull-right" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from DB">Delete</button>
                        <button type="button" class="btn btn-success pull-right" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Public Access">Enable</button>
                    </h3>
            </li>
            {{/if}}
            </span>

        </li>
        {{/each}}
    </ol>
</div>