<div class="row">
  <div class="col-auto">
    <h2>User: {{name}}</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <div class="form-group">
      <label for="skills">skills:</label>
      {{{skills}}}
    </div>
    <div class="form-group">
      <label for="project-funding">accomplishments:</label>
      {{{accomplishments}}}
    </div>
  </div>
</div>
